@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: linear-gradient(rgb(172, 131, 172), rgb(253, 253, 253));
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}